[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/cpu"]
	path = cookbooks/cpu
	url = https://github.com/Youscribe/cpu-cookbook.git
